html.dark h1 {
    color: color(var(--foreground) l(+ 10%));
}

.sbt_btn {
display: inline-block;
padding: 0%;
}

.nav-button {
margin: auto;

}
 
.nav-item {
  &:hover{
      background-color: #4401;
  }
}









